<div class="tracker-loader">
  <RiderOverview
    @riders={{this.riders}}
    @team={{this.team}}
    @onSelectRider={{this.onSelectRider}}
    @onRemoveRider={{this.onRemoveRider}}
  />
  <RiderMap />
</div>